<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forums</title>
</head>
<body>

<div>
    <form>
        <div class="input-group input-group-dark input-group-round">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">search</i>
                </span>
            </div>
            <input type="search" class="form-control form-control-dark" placeholder="Search" aria-label="Search app">
        </div>
    </form>
        <div class="dropdown mt-2">
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create A New Forum 
                </button>
        </div>        
</div> 
<div>
    <div>
        <dl class="posterprofile" id="">

        </dl>
        <div class="postcontent">
            <div>
                <h1 class="posttitle">
                    <a href="*"></a>
                </h1>
                <p class="postauthor">
                    <a href="*"></a>
                </p>
                <div class="postcontent">
                    
                </div>
            </div>

        </div>
    </div>
</div>  
<footer>
    <script src="/public/models/user.js"
    <script src="/public/js/login.js"></script>
    <script src="/models/forum.js"></script>
</footer> 
</body>
</html>