{{!-- {{#each}} --}}
<div class="card">
  <div class="card-header">
    {{forum.game_name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{forum.forum_title}}</h5>
    <p class="card-text">{{forum.previewText}}</p>
    <a href="./gameChat.handlebars" class="btn btn-primary">Join</a>
  </div>
</div>
{{!-- {{/each}} --}}

<script></script>