<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    {{!-- link style sheet --}}
</head>

<body>
    <div class="user-header row">
        <div>Avatar</div>
        <div>User name</div>
        <div> xp counter</div>
    </div>
    <div class="user-info row">
        <div>favorite game</div>
        <div>state/country</div>
        <div>bio</div>
        <div>forum history</div>
    </div>
</body>